<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="icon" href="data:,"/>
    <title>모두의재능 로그인</title>
</head>
<body>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">모두의 재능</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

                <li class="nav-item"><a class="nav-link" href="http://localhost:8080/">게시판</a></li>
                <li class="nav-item"><a class="nav-link" href="http://localhost:8080/signup">회원가입</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="app" class="bg-light">
    <section class="modu">
        <div class="title text-center border-box block">
            <div class="title-content text-primary-emphasis fs-1 fw-bold">모두의 재능</div>
        </div>
        <div class="social-login mt-3">
            <div class="social-login-text text-center text-body-secondary">
                <span>다른 서비스로 로그인</span>
            </div>
            <div class="social-login-list">
                <a class="naver" th:href="@{/oauth2/authorization/naver}"></a>
                <a class="kakao" th:href="@{/oauth2/authorization/kakao}"></a>
                <a class="google" th:href="@{/oauth2/authorization/google}"></a>
            </div>
        </div>
        <div class="else">
            <div class="else-line"></div>
            <div class="else-text text-center bg-light">
                <span>또는</span>
            </div>
        </div>
        <form class="container" action="/login" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">로그인</button>
            <input th:type="hidden" name="_csrf" th:value="${_csrf}">
        </form>

    </section>
    <footer class="flex-box bg-white footer">
        <div class="footer-inner">
            <div>이용약관</div>
            <div>모두의재능</div>
            <div>한국어</div>
        </div>
    </footer>
</div>
</body>
</html>
