<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="*/*" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>OAuth2 Client Home</title>
    <script>
        function getFreeResource() {
            fetch("http://127.0.0.1:8082/free", {
                method: "GET",
                headers: {
                    Origin: "http://127.0.0.1:8082"
                }
            })
                .then(response => {

                    response.json().then(function (data) {
                        document.querySelector("#freeResource").append(data.message);
                        document.querySelector("#freeResource").append(document.createElement('br'));
                    })
                })
        }

        // function token() {
        //     fetch("http://127.0.0.1:8081/token")
        //         .then(response => {
        //             response.json().then(function(data){
        //                 console.log("text 안에 데이터 = " + data.message);
        //                 window.localStorage.setItem("access_token", data.message);
        //
        //             })
        //         })
        // }

        function posts() {
            fetch("/posts", {
                method: "GET"
            })
                .then(response => {
                    response.json().then(function (data) {
                        console.log(data);
                        for (const prop in data) {
                            document.querySelector("#posts").append("title=" + data[prop].title);
                            document.querySelector("#posts").append(document.createElement('br'));
                            document.querySelector("#posts").append("content=" + data[prop].content);
                            document.querySelector("#posts").append(document.createElement('br'));
                            document.querySelector("#posts").append("username=" + data[prop].username);
                            document.querySelector("#posts").append(document.createElement('br'));
                            document.querySelector("#posts").append("updatedAt=" + data[prop].updatedAt);
                            document.querySelector("#posts").append(document.createElement('br'));
                            document.querySelector("#posts").append(document.createElement('br'));
                        }
                    })
                })
        }

        // function hasAccessToken() {
        //     if (document.cookie.match("access_token")) {
        //         location.href = "/";
        //     }
        // }
        //
        // hasAccessToken();

        function isAuthenticated() {
            fetch("/authentication", {
                method: "GET"
            })
                .then(response => {
                    response.json().then(function (data) {
                        console.log(data);
                        if (data.message === '1') {
                            console.log("authenticated");
                            // authenticated
                            document.querySelectorAll(".anonymous").forEach((el) => {
                                el.remove();
                            })
                        } else {
                            // anonymous
                            console.log("anonymous");
                            document.querySelectorAll(".authenticated").forEach((el) => {
                                el.remove();
                            })
                        }
                    })
                })
        }
        isAuthenticated();

        function signup() {
            fetch("http://localhost:8083/members", {
                method: "POST"
            })
                .then(response => {
                    console.log(response);
                    if (response.status === 201) {

                    } else {
                        console.log("회원가입 실패...");
                    }
                })
        }
    </script>

</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" th:href="@{/}">모두의 재능</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

                    <li class="nav-item dropdown authenticated">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">프로필</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/updateInfo}">내 정보수정</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">내 리뷰</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" th:href="@{/bookmark}">북마크</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" th:href="@{/applyList}">신청 목록</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#!">게시판</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">채팅</a></li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">

                        알림
                        <span class="badge bg-dark text-white ms-1 rounded-pill">5</span>
                    </button>
                </form>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        자
                        사용자
                    </button>
                </form>

            </div>
        </div>
    </nav>

    <div>OAuth2.0 Client</div>
    <div id="login">
        <div th:class="anonymous">
            <a th:href="@{http://127.0.0.1:8081/oauth2/authorization/springOAuth2}">로그인</a>
            <br>
            <a th:href="@{/signup}">회원가입</a>
        </div>
        <form th:class="authenticated" method="post" action="http://127.0.0.1:8081/logout">
            <button type="submit" class="btn btn-primary btn-lg btn-block logout-button">로그아웃</button>
        </form>
<!--        <div id="isAuthenticated">-->
<!--            <a th:href="@{http://127.0.0.1:8081/logout}">로그아웃</a>-->
<!--        </div>-->

    </div>


    <br />

    <div>
        <input type="button" onclick="getFreeResource()" value="인증 없이 가져올 수 있는 리소스">
        <div id="freeResource"></div>
    </div>

    <div>
        <form action="#">
<!--            <p><input type="button" onclick="token()" value="access token"></p>-->
            <p><input type="button" onclick="posts()" value="게시글"></p>
        </form>

        <div id="posts"></div>
        <br><br>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>